<section class="container-home">   
        <section class="home">

        <div class="left">
            <div class="input-search">
                <div class="container-input">
                  <span class="material-symbols-outlined">search</span>
                    <input [formControl]="control" type="text" placeholder="Search city.." autocomplete="off">
                </div>
                <ul *ngIf="showCitiesList" class="container-list" >
                    <li class="item-result" *ngFor="let item of cities" (click)="updateWeatherData(item.name,item.lat,item.lon)">
                        <span class="material-symbols-outlined">pin_drop</span>
                        <div class="result-texts">
                            <p>{{item.name}}</p>
                            <p *ngIf="item.state">{{item.state}},</p>
                            <p>{{item.state}}, {{item.country}}</p>
                        </div>
                    </li>
                </ul>
            </div>
    
            <div class="current-temp"  *ngIf="currentWeatherData">
                <img [src]="imgCurrentWeather">
                <p *ngIf="selectedTemperature === 'C'">{{convertToCelsius(currentWeatherData.main.temp)}}°C</p>
                <p *ngIf="selectedTemperature === 'F'">{{convertToFahrenheit(currentWeatherData.main.temp)}}°F</p>
            </div>

            <div class="current-date">
                <div class="current-data-today">
                    <img src="assets/icons/icons8-countdown-clock-80.png" alt="">
                    <p>Wednesday, {{ getCurrentTime() }}</p>
                </div>
                <div class="current-data-date">
                    <img src="assets/icons/icons8-date-80.png" alt="">
                    <p>{{getToday()}}</p>
                </div>
            </div>

            <div class="current-description">
                <span class="material-symbols-outlined">rainy</span>
                <p *ngIf="currentWeatherData">{{currentWeatherData.weather[0].description}}</p>
            </div>

            <hr>

            <div class="left-bottom">

                <button class="navbar-current-location">
                    <span class="material-symbols-outlined">my_location</span>
                    <p (click)="getLocation()">Current Location</p>
                </button>
    
                <div class="current-location">
                    <img src="assets/icons/icons8-location-80.png" alt="">
                    <div *ngIf="currentWeatherData" class="current-location-data">
                        <p>{{currentWeatherData.name}}</p>
                        <p>{{currentWeatherData.sys.country}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="right">

            <div class="right-navbar">

                <div class="data-select">
                    <button class="today" [ngClass]="{'active': activeTab === 'today'}" (click)="activeTab = 'today'">Today</button>
                    <button class="week" [ngClass]="{'active': activeTab === 'week'}" (click)="activeTab = 'week'">Week</button>
                </div>
                <div class="temp-select">
                  <button [ngClass]="{ 'celcius': selectedTemperature === 'C' }" (click)="toggleTemperature('C')">C</button>
                  <button [ngClass]="{ 'farenheit': selectedTemperature === 'F' }" (click)="toggleTemperature('F')">F</button>
                    <!-- <div class="mode"><span class="material-symbols-outlined lm">light_mode</span></div> -->
                </div>
                    
            </div>

            <div class="container-card" *ngIf="activeTab === 'today'">
                <div class="card" *ngFor="let item of forecastTimes">
                  <p>{{ item.time }}</p>
                  <img [src]="item.imgDescription">
                  <p *ngIf="selectedTemperature === 'C'">{{ convertToCelsius(item.temp) }}°C</p>
                  <p *ngIf="selectedTemperature === 'F'">{{ convertToFahrenheit(item.temp) }}°F</p>
                </div>
              </div>
              
              <div class="container-card" *ngIf="activeTab === 'week'">
                <div class="card" *ngFor="let day of forecastDays">
                  <p>{{ getDayOfWeek(day.date) }}</p>
                  <img [src]="day.imgDescription">
                  <div *ngFor="let temperature of day.temperatures">
                    <p *ngIf="selectedTemperature === 'C'">{{ convertToCelsius(temperature) }}°C</p>
                    <p *ngIf="selectedTemperature === 'F'">{{ convertToFahrenheit(temperature) }}°F</p>
                  </div>
                </div>
              </div>

            <div class="container-boxes">

                <p class="highlights-title">Today's Highlights</p>

                <div *ngIf="currentWeatherData" class="boxes">

                    <div class="sunrise box">
                        <p>Sunrise</p>
                        <div class="data-box">
                            <img src="assets/icons/icons8-sunrise-80.png" alt="">
                            <p class="data-box-text">{{parseUnixTimeToHour(currentWeatherData.sys.sunrise)}}</p>
                        </div>
                    </div>

                    <div class="sunset box">
                        <p>Sunset</p>
                        <div class="data-box">
                            <img src="assets/icons/icons8-sunset-80.png" alt="">
                            <p class="data-box-text">{{parseUnixTimeToHour(currentWeatherData.sys.sunset)}}</p>
                        </div>
                    </div>

                    <div class="wind box">
                        <p>Wind Status</p>
                        <div class="data-box">
                            <img src="assets/icons/icons8-wind-80.png" alt="">
                            <p class="data-box-text">{{convertMpsToKph(currentWeatherData.wind.speed)}} Km/h</p>
                        </div>
                    </div>

                    <div class="humidity box">
                        <p>Humidity</p>
                        <div class="data-box">
                            <img src="assets/icons/icons8-humidity-80.png" alt="">
                            <p class="data-box-text">{{currentWeatherData.main.humidity}}%</p>
                        </div>
                    </div>
                    <div class="real-feel box">
                        <p>Feel Like</p>
                        <div class="data-box">
                            <img src="assets/icons/icons8-temperature-80.png" alt="">
                            <p class="data-box-text" *ngIf="selectedTemperature === 'C'">{{convertToCelsius(currentWeatherData.main.feels_like)}}°C</p>
                            <p class="data-box-text" *ngIf="selectedTemperature === 'F'">{{convertToFahrenheit(currentWeatherData.main.feels_like)}}°F</p>
                        </div>
                    </div>

                    <div class="visibility box">
                        <p>Visibility</p>
                        <div class="data-box">
                            <img src="assets/icons/icons8-visibility-80.png" alt="">
                            <p class="data-box-text">{{convertMetersToKilometers(currentWeatherData.visibility)}} km</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </section>
</section>
