* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hourly-forecast {
    padding: 20px 20px 0 0;
}


.container {
    width: 100%;
    max-width: 1300px;
    height: 100vh;
    background: #131214;
    padding: 0 20px 20px 20px;
    margin: 0 auto;
}

.container-weather {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 2em;
}

/* NAVBAR */
.nav {
    background: #131214;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2px;
}

.nav-logo > h1 {
    color: #c8c8c8;
}
.nav-input-search-container {
    display: flex;
    flex-direction: column;
    position: relative;
    /* z-index: 400; */
}

.nav-input-search {
    display: flex;
    flex-direction: row;    
    z-index: 200;
}


.icon-search {
    background: #1F1E22;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 10px;
    height: 35px;
} 

.icon-search > svg {
    fill: #c8c8c8;
} 



.input-search {
    position: relative;
    z-index: 200px;
}





@keyframes slideIn {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .slide {
    transition: transform 0.5s ease-in-out;
  }
  
  .active {
    display: block;
    transform: translateY(0);
  }
  
  .hidden {
    padding: 0;
    background: none;
    display: none;
    transform: translateY(-100%);
  }
  
  .not-result {
    padding: 30px;
}
.not-result > p {
    text-align: center;
}
.list-container {
    top: 18px;
    position: absolute;
    width: 100%;
    background: #1F1E22;
    padding-top: 17px;
    padding-bottom: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.item {
    background: #1F1E22;
    display: flex;
    cursor: pointer;
}

.item:hover {
    background: #090909;

}

.input-search > input  {
    color: #fff;
    background: #1F1E22;
    border: none;
    width: 300px;
    height: 35px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.icon-location {
    padding: 10px
}

.icon-location > span {
    font-size: 20px;
}

.data-location-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.seach-city {
    font-size: 20px;
    letter-spacing: .5px;
}
.search-location {
    color: lightgray;
    font-size: 14px;
}

.input-search > input:focus {
    outline: none;
    border: none;
    color: white;
}

.nav-current-location > button {
    background: #BEABE9;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.nav-current-location > button > span {
    font-size: 17px;
    font-weight: 500;
}
.nav-current-location > button > p {
    font-weight: 600;
}

/* CONTAINER-LEFT */

/* CURRENT DATA  */

.data-city-title {
    margin: 20px 0 10px auto;
}


 .current-temp {
    font-size: 70px;
    display: flex;
    align-items: center;
}

.current-temp svg {
    fill: #f2f2f2;
}

.highlights-title {
    padding: 10px ;
}



.current-temp-title, .current-temp-description {
    background: #1F1E22;
}

.current-temp-description {
    margin: 15px;
}

.data-location {
    margin: 15px auto 20px 0;
}

.container-weather-left {
    width: 300px;
    max-width: 300px;
    background: #131214;
    color: #fff;
    padding: 5px
}

.data-city {
    background: #1F1E22;
    border-radius: 20px;
    padding: 10px;
    width: 270px;
}

.five-days-forecast-data {
    background: #1F1E22;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
}


.five-days-forecast-title {
    margin: 15px auto 10px 5px ;
}

/* NEXT DAYS */

.data-day {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.data-location {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.next-day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 10px;

}
.next-day-forecast{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    width: 55px;
}

.next-day-name {
    width: 86px;
    display: flex;
    align-items: center;
}

.next-day-date {
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* container-weather-right */

.container-weather-right {
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.container-current-weather {
    display: flex;
    flex-direction: row;
    background: #1F1E22;
    color: #fff;
    border-radius: 20px;
}

.quality {
    display: flex;
    flex-direction: column;
    background: #1C1B1F;
    padding: 10px;
}

.quality-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wind-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px ;
}

.wind-current  {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 20px;
    column-gap: 20px;
}

.highlights {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.quality-text {
    align-items: center;
}

.quality-text p, .sunrise-and-sunset-title {
    font-size: 12px;
    /* color: #9b9b9b; */
}

.quality-tex-value {
    border: none;
    padding: 2px 5px;
    border-radius: 15px;
    color: #000000;
}

.good {
    background: #93f993;
    /* color: #000000; */
}

.fair {
    background: #ffe77d;
}

.moderate {
    background: #d8fa4d;
}

.poor {
    background: #8aff8a;
}

.very-poor {
    background: #ff7f5b;
}


.more-data {
    display: flex;
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        column-gap: 15px;
}

.sas-current {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.sunrise, .sunset {
    display: flex;
}


.data-box {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.box span{
    font-size: 40px;
}


.box-current {
    font-size: 25px;
}

.box{
    background: #1C1B1F ;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
}

.sunrise-and-sunset {
    margin-top: 45px;
}
.quality {
    height: 180px;
    justify-content: space-between;
    width: 470px;
    border-radius: 20px;
    padding: 20px;
    background: #1C1B1F;
}

.sunrise-and-sunset {
    height: 180px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 435px;
    border-radius: 20px;
    padding: 20px;
    background: #1C1B1F;
}

.wind-current div h3 {
    font-size: 12px;
    color: #9b9b9b;
}
.wind-current-value {
    font-size: 30px;
}

.forecast {
    margin-top: 7px;
}

.wind-current div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wind-icon > span {
    font-size: 60px;
}

/* #1C1B1F */

.sunrise-icon span, .sunset-icon span {
    font-size: 60px;
}

.sunrise-data-current, .sunset-data-current{
    font-size: 30px;
}

.forecast-today {
    display: flex;
    justify-content: space-between;
    color: #fff;
    overflow-x: auto;
  white-space: nowrap;
}

.forecast-next-hour {
    background-color: #1F1E22;
    width: 100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
}

.today-title {
    color: #fff;
    margin: 10px 0;
}

.forecast-next-hour > span {
    font-size: 45px;
}

.forecast-next-hour > p {
    font-size: 15px;
}





/* 1320 primera */

@media screen and (max-width: 1320px) {
    .container-current-weather {
      flex-direction: column;
    }

    .sunrise-and-sunset{
        margin-top: 0px
      }

      .hourly-forecast {
        padding: 2px 20px;
    }

    .quality {
        width: auto;
    }

    .sas-current {
        justify-content: space-evenly;
    }

    .sunrise-and-sunset {
        width: auto;
    }
  }

  @media screen and (max-width: 844px){
  
  .highlights {
    padding: 20px 20px 0 20px;
  }

  }

  @media screen and (max-width: 1000px){
  .sas-current {
    justify-content: space-between;
}
  }