
body {
    max-width: 1300px;
    margin: 0 auto;
}

/* nav */

.navbar {
    width: 100%;
    height: 100px;
    background: #131214;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.nav-logo {
    width: 110px;
}

.nav-actions {
    display: flex;
    width: 60%;
    justify-content: space-between;
}


.nav-search {
    display: flex;

}

.icon-search span {
    font-size: 22px;
}


.nav-search{
    height: 40px;
}

.icon-search {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: #1F1E22;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}



.input-search > input {
    width: 250px;
    height: 40px;
    background-color: #1F1E22;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav-current-location {
    background: #BEABE9;
    height: 40px;
    padding:10px;
    display: flex;
    flex-direction: row;
    color: #0f0f0f;
    border: none;
    border-radius: 20px;
    align-items: center;
    
}
.nav-current-location span {
    padding-right: 5px;
    font-size: 17px;
    font-weight: 500;
}
 .nav-current-location p {
    font-size: 13px;
    font-weight: 600;
}





@media screen and (max-width: 768px) {
    .input-search {
        display: none;
    }

    .icon-search {
        border-radius: 50%;
    }

    .nav-actions {
        justify-content: flex-end;
        column-gap: 10px;
    }
}   

@media screen and (max-width: 480px) {
    
    .nav-current-location  {
        height: 40px;
        width: 40px;
        justify-content: center;
    }
    .nav-current-location > span {

        font-size: 20;
        padding: 0;
    }


    .nav-current-location > p {
        display: none;
    }
}


/* DATA CITY */

.container-weather {
    display: flex;
    padding: 0 20px;
    column-gap: 1em;
    background-color: #131214;
}

.data-city, .five-days-forecast {
    background: #1F1E22;
    border-radius: 20px;
    padding: 20px;
    width: 270px;
    color: #fff;
}

.data-day, .data-location {
    display: flex;
    color: #fff;
}

.next-day {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.current-temp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
}
.current-temp p, .current-temp span {
    font-size: 70px;
}

.more-data-current {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.five-days-forecast-title {
    padding: 20px 0 10px 5px;
    color: #fff;
}

.next-day-forecast {
    display: flex;
}

/* BOXES */

.container-weather-right {
    color: #fff;
    width: 100%;
    height: 100%;
    
}

.container-weather-right-content {
    background-color: #1F1E22;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    height: 100%;


}

.container-boxes {
    display: flex;
    column-gap: 10px;
}

.box {
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    height: 180px;
    background-color: #1C1B1F;
}

/* Air Quality Index */

.quality-text {
    display: flex;
    justify-content: space-between;
}

.wind-data, .sas-current{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.data-box {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.wind-current {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* Sunrise and sunset */

.sas-current {
    display: flex;
    justify-content: space-between;
}

.sunrise, .sunset {
    display: flex;
}

.small-boxes {
    width: 100%;
    display: flex;
    column-gap: 10px;
    margin-top: 15px;
}

.small-boxes1, .small-boxes2{
    width: 50%;
    display: flex;
    column-gap: 10px;
}

.small-box {
    border-radius: 20px;
    padding: 20px;
    height: 140px;
    width: 50%;
    background-color: #1C1B1F;
}

@media screen and (max-width: 1100px) {
    .data-city, .five-days-forecast {
        width: 250px;
    }
}

@media screen and (max-width: 950px) {
    .data-city, .five-days-forecast {
        width: 230px;
    }

    .small-box {
        padding: 15px;
        height: 120px;

    }
    .container-boxes {
        display: flex;
        /* column-gap: 10px; */
        flex-direction: column;
    }

    .box {
        width: 100%;
    }

    .boxes {
        row-gap: 10px;
    }


}

@media screen and (max-width: 875px) {
    .small-boxes {
        flex-direction: column;
    }

    .small-boxes1, .small-boxes2 {
        width: 100%;
    }

    .small-boxes {
        row-gap: 10px;
    }
    
    
}

@media screen and (max-width: 660px) {
    .small-boxes1, .small-boxes2{
        flex-direction: column;
        row-gap: 10px;
    }
    .small-box {
        width: 100%;
    }
}



/* asd */

.forecast-today {
    display: flex;
    justify-content: center;
    color: #fff;
  column-gap: 20px;
  overflow-x: auto;
  white-space: nowrap;
}

.forecast-next-hour {
    background-color: #1F1E22;
    width: 100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
}

.today-title {
    color: #fff;
    margin: 10px 0;
}

.forecast-next-hour > span {
    font-size: 45px;
}

.forecast-next-hour > p {
    font-size: 15px;
}

@media screen and (min-height: 660px)  {
    /* body {
        display: none;
    } */
}


.row {
    position: relative;
    width: 80%;
    margin: 0 auto;

  }
  
  .carousel {
    background-color: #EBEBEB;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
  }

  .card-container {
    display: flex;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 0px 5px #ccc;
    height: 150px;
    width: 120px;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    justify-content: space-between;
    overflow: hidden;
    white-space: normal;
}

  