.container-home {
    background: #D6D7DA;
    height: 100vh;
    width: 100%;
}

.home {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
    height: 520px;
}

.left {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 250px;
    padding: 20px 30px;
}

.input-search {
    display: flex;
    background-color: none;
    border-bottom: 1px solid #8f8f8f;
}

.input-search span {
    color: #8f8f8f;
}

.input-search input {
    background-color: none;
    border: none;
}



/* RIGHT */

.right {
    background: #F6F6F8;
    width: 100%;
    padding: 20px 30px;
}

.right-navbar {
    display: flex;
    justify-content: space-between;
}

.current-temp svg {
    fill: rgb(106, 106, 106);
    font-size: 140px;
}

.container-card {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.card {
    width: 70px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-select button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.btn-navbar {
    display: flex;
}

.navbar-current-location {
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 0 5px;
    margin-left: 5px;
    background: #BFACE9;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.navbar-current-location span {
    font-size: 16px;
}

.navbar-current-location p {
    font-size: 12px;
}

.temp-select button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background: #ffffff;
    cursor: pointer;
    margin-left: 10px;
}

.highlights-title {
    padding: 15px 0 20px 0;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px; /* Espacio entre los divs */
  }

  .box {
    background-color: #ccc;
    padding: 20px;
    height: 120px;
    text-align: center;
  }


  /* 830 */
@media screen and (max-width:830px){
    .boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px; /* Espacio entre los divs */
        height: 250px;
        overflow: auto;
    }
    
}